.card-header h5 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.list-group-item {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.card-sm-box {
    max-width: 30em;
    min-height: 62em;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px; 
    box-shadow: 4px 2px 12px 0px rgba(33, 4, 87, 0.4);   
    overflow-y: scroll;
}
.card-sm-container {
    color: #000;
    flex-direction: row;
    max-width: 30em;
    height: 80px;
    padding: 4px;
    border: 1px solid #ccc;
    border-radius: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-sm-container img {
    max-width: 15%;
    margin: auto;
    padding: 0.5em;
    border-radius: 0.7em;
}
.card-sm-list {
    max-width: 50%;
}

.card-sm-title {
    display: flex;
    height: 90px;
    padding: 16px;
    list-style: none;
    font-size: large;
    font-weight: 500;
    justify-content: space-between;
    align-items: center;
}

.card-sm-item {
    display: flex;
    align-items: center;
    list-style: none;
    font-size: medium;
    max-width: 50%;
    font-weight: 300;
    padding: 8px;
    margin: 2px;
    height: 50px;
    border-top: 1px solid #b8b6b6;
    transition: all 0.2s ease-in-out;
}
